services:
  sfa.app:
    build:
      context: .
      dockerfile: Dockerfile
    
    volumes:
      - ../:/workspaces:cached
      - node_modules-data:/workspaces/node_modules

    env_file: ../.env

    networks:
      - sfa-net
    
    command: sleep infinity

    user: root

  sfa.db:
    image: postgres:14.3
    restart: unless-stopped
    volumes: 
      - database-data:/var/lib/postgresql/data

    env_file: ../.env

    networks:
      - sfa-net

  sfa.smtp:
    image: mailhog/mailhog

    ports:
      - "8025:8025"
      - "1025:1025"

    networks:
      - sfa-net

volumes:
  node_modules-data:
  database-data:

networks:
  sfa-net: